p{
    background-color: blue;
    text-align:center;
}

    .jk{
        color: red;
        background-color:pink;
        text-align: center;
    }
    .jk1{
        color : rgb(233, 233, 23);
        background-color:rgb(255, 27, 160);
        text-align: center;
    }
    .jk2{
        height: 300px;
        color: rgb(139, 10, 74);
        background-color: yellow;
        text-align:center ;
        font-size: 50px;
        align-content: center;
        margin: 8px;
        border: 10px solid rgb(80, 51, 113);
        width: 300px;
    }
    .jk3{
        margin: 25px;
        border: 10px solid black;
        height: 300px;
        width: 300px;
        align-content: center;
        color: brown;
        text-align: center;
        background-color: rgb(90, 163, 200);
        font-size: 50px;
        
    }
    .jk4{
        
    margin: 25px;
        border: 10px solid black;
        height: 300px;
        width: 300px;
        align-content: center;
        color: brown;
        text-align: center;
        background-color: rgb(200, 90, 167);
        font-size: 50px;
    }